.preview-wrapper {
  position: relative;
  height: 100%;
}

.preview-wrapper iframe {
  height: 100%;
  background-color: white;
}

/*
  - In CSS, ::after creates a pseudo-element that 
    is the last child of the selected element.
  - this is a workarounrd to prevent the iframe
    element inside the preview component to
    receive the re-size events by accident
    in some cases. Instead this pseudo element
    which is on top of the iFrame will receive 
    the events while you are resizing the cell.
  - when you are dragging a dynamic class named
    react-draggable-transparent-selection will 
    be added to the body. You can use proper
    selector to add a pseudo-element while 
    you are dragging.     
*/

.react-draggable-transparent-selection .preview-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}
